/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.imageViewButtonBlack {
	-fx-image: url("../../image/black_stone_transparent.png");
}

.imageViewButtonWhite {
	-fx-image: url("../../image/white_stone_transparent.png");
	
}